.panel {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 200px;
  background: #222935;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0%);
}

.open {
  transform: translateX(-100%);
}

.button {
  margin-top: auto;
  background-color: inherit;
	height: 60px;
  border-radius: 0;
  color: #D2D2D4;
  width: 100%;

  display: flex;
  justify-content: center;
}


.button:hover {
  background: none;
	color: #049CE4;
}

.buttonContainer {
	width: 100%;
	margin-top: auto;
}


.wrapper {
  position: fixed;
}

.topButton {
  position: absolute;
  top: 20px;
  left: 200px;
  z-index: 1;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 5px;
	transition: transform 0.3s ease-in-out;
  transform: translateX(0%);
}

.topButtonClose {
  transform: translateX(-200px);
}

@media (max-width: 600px) {
  .panel {
    width: 50px; 
    transition: transform 0.3s ease-in-out; 
  }
    .topButton {
        left: 50px;
    }
    .topButtonClose {
        transform: translateX(-50px);
    }
}