.container {
  display: flex;
	position: relative;
}

.mainContent {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

.panelOpen {
  margin-left: 200px;
}

.scrollToTopButton {
  position: absolute;
  bottom: 0px;
  right: 20px;

	padding: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 600px) {
	
  .panelOpen {
    margin-left: 50px;
  }
}
